@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 100, 800;
  font-display: optional;
  src: url(/fonts/Ubuntu-Regular.ttf) format("ttf");
  src: url(/fonts/Ubuntu-Medium.ttf) format("ttf");
  src: url(/fonts/Ubuntu-Bold.ttf) format("ttf");
}

@layer base {
  a {
    @apply underline;
    @apply text-[#4c7efc];
  }
}

html {
  min-width: 300px;
  scroll-behavior: smooth;
}

.project {
  margin-bottom: 80px;
}

.project .project-content {
  position: relative;
  z-index: 1;
  grid-area: 1 / 1 / -1 / 10;
}

.project-content .project-content__description {
  box-shadow: 0 20px 30px -20px rgba(2, 12, 27, 0.7);
  padding: 40px 30px;
  margin: 20px 0;
  border-radius: 5px;
}

.project .project-image {
  position: relative;
  grid-area: 1 / 6 / -1 / -1;
  opacity: 0.6;
  transition: opacity 0.5s ease-in-out;
}

.project .project-image:hover {
  opacity: 1;
}

@media (max-width: 768px) {
  .project .project-content,
  .project .project-image {
    grid-area: 1 / -1;
  }

  .project:nth-of-type(2n + 2) .project-content {
    grid-column: 1 / -1;
    text-align: left;
  }

  .project:nth-of-type(2n + 2) .project-image {
    grid-column: 1 / -1;
  }
}
